body {
    font-family: 'Segoe UI',sans-serif;
    background: #fff3cd;
    text-align:center;
    padding: 40px;
    transition: 0.3s;
}

body.dark {
    background: #1e1e1e;
    color: #f5f5f5;
}

h1 {
    font-size: 2.2rem;
}


select, button {
    padding: 10px 15px;
    font-size: 16px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button {
    background: #ff9800;
    color: white;
}
button:hover {
    transform: scale(1.05);
}

.cookie {
    font-size: 70px;
    margin: 20px;
    transition: transform 0.5;
}
.cookie.open {
    transform: rotate(20deg) scale(1.2);
}

#fortune {
    margin-top: 20px;
    font-size: 20px;
    font-weight:bold;
    white-space:pre-line;
}

.toggle {
    position: absolute;
    top: 15px;
    right: 20px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
    }
    .cookie {
        font-size: 55px;
    }
}